/* Profile Container */
.profile-container {
  max-width: 800px;
  margin: 120px auto 60px auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Profile Details */
.profile-details {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #294b29;
}

.profile-info {
  font-size: 1.2rem;
}

.edit-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #294b29;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #152515;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.btn-edit-profile {
  display: block;
  width: 100%;
  margin-top: 1rem;
  background-color: transparent;
  color: #294b29;
  border: 2px solid #294b29;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-edit-profile:hover {
  background-color: #294b29;
  color: #fff;
}
